h1{
    background-color: aqua;
    color: red;
    text-align: center;
    font-size: xx-large;
}
.we{
    float: left;
    margin: 10px solid white;
}
.we iframe{
    height: 500px;
    width: 870px;

}
button{
    height:  40px;
    width: 80px;
    background-color: aqua;
    text-decoration: none;
}
h2{
    text-align: center;
    color: rgb(9, 111, 158);
    padding-top: 30px;
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
}
#er{
    width: 100%;
}
.we img{
    height: 500px;
    width: 365px;
}